In [1]:
import pandas as pd

def get_sample_gene_summary():
    sample_gene_summary = pd.read_csv('all_sample.gene_coverage.sample_gene_summary', delimiter='\t', index_col=False)
    return sample_gene_summary

In [2]:
df = get_sample_gene_summary()

In [3]:
df.head()

,Gene,total_coverage,average_coverage,7421_total_cvg,7421_mean_cvg,7421_granular_Q1,7421_granular_median,7421_granular_Q3,7421_%_above_5,7421_%_above_10,7421_%_above_20,9334_total_cvg,9334_mean_cvg,9334_granular_Q1,9334_granular_median,9334_granular_Q3,9334_%_above_5,9334_%_above_10,9334_%_above_20
0,OR4F5_CCDS30547.1,288,0.31,288,0.31,1,1,2,0.0,0.0,0.0,0,0.00,1,1,1,0.0,0.0,0.0
1,OR4F16_CCDS41221.1,0,0.00,0,0.00,1,1,1,0.0,0.0,0.0,0,0.00,1,1,1,0.0,0.0,0.0
2,SAMD11_CCDS2.2,503,0.25,245,0.12,1,1,1,0.0,0.0,0.0,258,0.13,1,1,1,0.0,0.0,0.0
3,NOC2L_CCDS3.1,1313,0.58,834,0.37,1,1,1,0.0,0.0,0.0,479,0.21,1,1,1,0.0,0.0,0.0
4,KLHL17_CCDS30550.1,1558,0.81,1032,0.53,1,1,2,0.0,0.0,0.0,526,0.27,1,1,1,0.0,0.0,0.0

In [4]:
df.columns

Index(['Gene', 'total_coverage', 'average_coverage', '7421_total_cvg',
       '7421_mean_cvg', '7421_granular_Q1', '7421_granular_median',
       '7421_granular_Q3', '7421_%_above_5', '7421_%_above_10',
       '7421_%_above_20', '9334_total_cvg', '9334_mean_cvg',
       '9334_granular_Q1', '9334_granular_median', '9334_granular_Q3',
       '9334_%_above_5', '9334_%_above_10', '9334_%_above_20'],
      dtype='object')

In [5]:
def prepare_df(df):
    columns = df.columns.tolist()
    unique_columns = list(set(["_".join(col.split('_')[1:]) for col in columns[3:]]))
    
    for column in unique_columns:
        columns_for_mean = [original_column_name for original_column_name in df.columns if column in original_column_name]
        df[column] = df[columns_for_mean].mean(axis=1)
        
    return df.drop(columns=columns[3:])

In [6]:
df2 = prepare_df(df)

In [7]:
df2.columns

Index(['Gene', 'total_coverage', 'average_coverage', 'granular_median',
       '%_above_10', 'granular_Q3', 'total_cvg', '%_above_20', 'mean_cvg',
       '%_above_5', 'granular_Q1'],
      dtype='object')

In [8]:
df2.head()

,Gene,total_coverage,average_coverage,granular_median,%_above_10,granular_Q3,total_cvg,%_above_20,mean_cvg,%_above_5,granular_Q1
0,OR4F5_CCDS30547.1,288,0.31,1.0,0.0,1.5,144.0,0.0,0.155,0.0,1.0
1,OR4F16_CCDS41221.1,0,0.00,1.0,0.0,1.0,0.0,0.0,0.000,0.0,1.0
2,SAMD11_CCDS2.2,503,0.25,1.0,0.0,1.0,251.5,0.0,0.125,0.0,1.0
3,NOC2L_CCDS3.1,1313,0.58,1.0,0.0,1.0,656.5,0.0,0.290,0.0,1.0
4,KLHL17_CCDS30550.1,1558,0.81,1.0,0.0,1.5,779.0,0.0,0.400,0.0,1.0

In [9]:
sample_gene_summary = df2
sample_gene_summary['gene_name'] = sample_gene_summary.Gene.apply(lambda x: x.split('_')[0])
df3 = sample_gene_summary.loc[sample_gene_summary['gene_name'].isin(['DAZ1', 'TNFRSF18'])]

In [10]:
df4 = pd.DataFrame()
for x, y in df3.groupby('gene_name'):
    print(x)
    prepare_df(y)

DAZ1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

TNFRSF18

In [11]:
prepare_df(df3)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Gene,total_coverage,average_coverage,above_5,above_20,Q1,above_10,median,cvg,Q3,name
15,TNFRSF18_CCDS9.1,185,0.24,0.0,0.00,1.0,0.0,1.0,46.3075,1.0,NaN
16,TNFRSF18_CCDS10.1,185,0.19,0.0,0.00,1.0,0.0,1.0,46.2975,1.0,NaN
17,TNFRSF18_CCDS30552.1,185,0.19,0.0,0.00,1.0,0.0,1.0,46.2975,1.0,NaN
28812,DAZ1_CCDS48209.1,209341,93.66,50.0,47.15,17.5,50.0,43.5,52358.6650,73.5,NaN

In [14]:
df = pd.read_csv('171026_NB551023_0033_AHMFG5AFXX.sample_coverage', delimiter='\t')

In [21]:
df.sample_id = df.sample_id.apply(lambda x: '../../sample/171026_NB551023_0033_AHMFG5AFXX/{}'.format(x))

In [23]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>sample_id</th>\n      <th>total</th>\n      <th>mean</th>\n      <th>granular_third_quartile</th>\n      <th>granular_median</th>\n      <th>granular_first_quartile</th>\n      <th>%_bases_above_5</th>\n      <th>%_bases_above_10</th>\n      <th>%_bases_above_20</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/7421</td>\n      <td>1519413455</td>\n      <td>47.10</td>\n      <td>86.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.5</td>\n      <td>32.1</td>\n      <td>31.6</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/8287</td>\n      <td>1358045467</td>\n      <td>42.10</td>\n      <td>77.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.5</td>\n      <td>32.1</td>\n      <td>31.5</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/8316</td>\n      <td>1584889045</td>\n      <td>49.13</td>\n      <td>89.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.5</td>\n      <td>32.1</td>\n      <td>31.6</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/8951</td>\n      <td>1292779235</td>\n      <td>40.07</td>\n      <td>73.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.3</td>\n      <td>31.9</td>\n      <td>31.3</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/9225</td>\n      <td>1153079463</td>\n      <td>35.74</td>\n      <td>65.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.2</td>\n      <td>31.8</td>\n      <td>31.1</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/9367</td>\n      <td>1257456647</td>\n      <td>38.98</td>\n      <td>71.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.4</td>\n      <td>31.9</td>\n      <td>31.3</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/9403</td>\n      <td>1283163264</td>\n      <td>39.78</td>\n      <td>72.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.5</td>\n      <td>32.1</td>\n      <td>31.4</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/9437</td>\n      <td>1366661485</td>\n      <td>42.36</td>\n      <td>78.0</td>\n      <td>1.0</td>\n      <td>1.0</td>\n      <td>32.5</td>\n      <td>32.1</td>\n      <td>31.6</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>../../sample/171026_NB551023_0033_AHMFG5AFXX/T...</td>\n      <td>1519413455</td>\n      <td>47.10</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n  </tbody>\n</table>'